blinker           
click             
colorama          
Flask             
Flask-SQLAlchemy  
greenlet          
gunicorn          
itsdangerous      
Jinja2            
MarkupSafe       
packaging         
pip              
setuptools        
SQLAlchemy        
typing_extensions 
Werkzeug          
