{% extends 'base.html' %}
{% block conteudo %}

    <h2 style="text-align: center;">Integrando HTML ao Flask</h2>
    <hr> <!--cria uma margin-->
    <form class="form-group" action="{{url_for('principal')}}" method="POST">
        <label>Conteúdo</label>
        <input class="form-control" type="text" name="conteudo" id="">
        <button class="btn btn-success">Adicionar</button>
    </form>
    Lista de Conteúdos:
    <ol class="list-group list-group-numbered"><!--Sintaxe Jinja Framework. 
        Possibilita escrever codigo Python no HTML-->
        {%for conteudo in conteudos %} <!--Iniciando for para percorrer a lista-->
        <li class="list-group-item">{{conteudo}}</li>
        {% endfor %} <!--finalizando o for-->
    </ol>

{% endblock conteudo %}
