{% extends "base.html"%}
{% block conteudo %}

        <h2 style="text-align: center;">Notas da Turma</h2>
        <hr>
        <form class="form-group" action="{{url_for('diario')}}" method="POST">
            <label>Aluno</label>
            <input class="form-control" type="text" name="aluno" required>
            <label>Nota</label>
            <input class="form-control" type="text" name="nota">
            <button class="btn btn-success">Adicionar</button>
        </form>
        <br>

        <!--Buscando dicionário no for-->
        <!--for (chave, valor) in (nome do dicionario.items())-->
        {% for registro in registros %} 
           <p>
                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse_{{ loop.index }}" 
                role="button" aria-expanded="false" aria-controls="collapse_{{ loop.index }}">
                    {{ registro.aluno }}
                </a>
            </p>
            <div class="collapse" id="collapse_{{ loop.index }}">
                <div class="card card-body">
                    {{ registro.nota }}
                </div>
            </div>
        {% endfor %}

{% endblock conteudo %}